<nav class="navbar navbar-vertical navbar-expand-xl navbar-vibrant side-menu" style="z-index: 10000;">
  <script>
    var navbarStyle = localStorage.getItem("navbarStyle");
    if (navbarStyle) {
      document.querySelector('.navbar-vertical').className += ' navbar-' + navbarStyle;
    }
  </script>
  <div class="d-flex align-items-center">
    <div class="toggle-icon-wrapper">
      <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-placement="left"><span
          class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
    </div><a class="navbar-brand" href="/dashboard">
      <div class="d-flex align-items-center py-3"><img class="mr-2" src="/public/assets/img/logo.png" alt="" width="40"
          style="background-color: #014ba5;border-radius: 10px;" /><span class="text-sans-serif">DreamLive</span>
      </div>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
    <div class="navbar-vertical-content perfect-scrollbar scrollbar">
      <ul class="navbar-nav flex-column">
        <li class="nav-item"><a class="nav-link dropdown-indicator" href="#home" data-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="home">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                  class="fas fa-chart-pie"></span></span><span class="nav-link-text">Recharge</span></div>
          </a>
          <ul class="nav collapse" id="home" data-parent="#navbarVerticalCollapse">
            <li class="nav-item"><a class="nav-link" href="/formmodel">Reseller Recharge</a></li>
            {{!-- <li class="nav-item"><a class="nav-link" href="/testtable">test table</a></li> --}}
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link dropdown-indicator" href="#stocks" data-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="stocks">
            <div class="d-flex align-items-center"><span class="nav-link-icon">
            <span class="fas fas fa-truck"></span></span><span class="nav-link-text">Utils</span>
            </div></a>
            <ul class="nav collapse" id="stocks" data-parent="#navbarVerticalCollapse">
             <li class="nav-item"><a class="nav-link" href="/banner">Banner Management</a></li>          
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link dropdown-indicator" href="#masters" data-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="masters">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                  class="fas far fa-chart-bar"></span></span><span class="nav-link-text">Host Management</span></div>
          </a>
          <ul class="nav collapse" id="masters" data-parent="#navbarVerticalCollapse">
            <li class="nav-item"><a class="nav-link" href="/agencymapping">Agency Mapping</a></li>
            <li class="nav-item"><a class="nav-link" href="/agencyhostmapping">Agency Host Mapping</a></li>
            <li class="nav-item"><a class="nav-link" href="/hostlive">Host Live Monitoring Page</a></li>
            <li class="nav-item"><a class="nav-link" href="/AssetReward">Assert Reward</a></li>
            <li class="nav-item"><a class="nav-link" href="/privatecall">Private Call Monitoring Page</a></li>
         <!--   <li class="nav-item"><a class="nav-link" href="/gatewayMaster">Payment Gateway
                Masters</a></li>-->
          </ul>
        </li>


        <li class="nav-item"><a class="nav-link dropdown-indicator" href="#adminactions" data-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="adminactions">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                  class="fas far fa-chart-bar"></span></span><span class="nav-link-text">Admin Actions</span></div>
          </a>
          <ul class="nav collapse" id="adminactions" data-parent="#navbarVerticalCollapse">
            <li class="nav-item"><a class="nav-link" href="/banuser">Ban User</a></li>
            <li class="nav-item"><a class="nav-link" href="/reviewpicture">Review Picture</a></li>
            {{!-- <li class="nav-item"><a class="nav-link" href="/adminblockreport">Admin Block Report</a></li> --}}
            <li class="nav-item"><a class="nav-link" href="/picturewall">Picture Wall</a></li>
            <li class="nav-item"><a class="nav-link" href="/recordingplayback">Recording Playback</a></li>
            <li class="nav-item"><a class="nav-link" href="/notification">Push Notification</a></li>
         <!--   <li class="nav-item"><a class="nav-link" href="/gatewayMaster">Payment Gateway
                Masters</a></li>-->
          </ul>
        </li>


          <li class="nav-item"><a class="nav-link dropdown-indicator" href="#notification" data-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="notification">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                  class="fas far fa-bell"></span></span><span class="nav-link-text">User Management</span></div>
          </a>
          <ul class="nav collapse" id="notification" data-parent="#navbarVerticalCollapse">
            <li class="nav-item"><a class="nav-link" href="/Userdetail">User Details</a></li>
            <li class="nav-item"><a class="nav-link" href="/UserMapping">User Mapping</a></li>
            <li class="nav-item"><a class="nav-link" href="/Userfav">User Fav</a></li>
            <li class="nav-item"><a class="nav-link" href="/NameReset">Name Reset</a></li>
             <li class="nav-item"><a class="nav-link" href="/Uservideo">User Video Enable</a></li>
          </ul>
        </li>



          <li class="nav-item"><a class="nav-link dropdown-indicator" href="#reports" data-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="reports">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                  class="fas far fa-file-alt"></span></span><span class="nav-link-text">Reports</span></div>
          </a>
          <ul class="nav collapse" id="reports" data-parent="#navbarVerticalCollapse">
            <li class="nav-item"><a class="nav-link" href="/zegocrosscheck">Zego Crosscheck Report</a></li>
            {{!-- <span class="badge badge-pill badge-success">Live</span></a></li> --}}
            <li class="nav-item"><a class="nav-link" href="/GameReport">Game Report</a></li>
            <li class="nav-item"><a class="nav-link" href="/GiftReport">Gift Report</a></li>
            <li class="nav-item"><a class="nav-link" href="/transaction">Transaction Report</a></li>
            <li class="nav-item"><a class="nav-link" href="/AssetPruchase">Asset Prushase Report</a></li>
            <li class="nav-item"><a class="nav-link" href="/Hostlivedata">Host Live Data Report</a></li>
            <li class="nav-item"><a class="nav-link" href="/EventReport">Event Report</a></li>
            <li class="nav-item"><a class="nav-link" href="/PKmatch">PK Match Report</a></li>
            <li class="nav-item"><a class="nav-link" href="/contentReport">Content Reporting</a></li>

          </ul>
        </li>



        <li class="nav-item"><a class="nav-link dropdown-indicator" href="#pages" data-toggle="collapse" role="button"
            aria-expanded="true" aria-controls="pages">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                  class="fas fab fa-buffer"></span></span><span class="nav-link-text">Change Password</span></div>
          </a>
          <ul class="nav collapse show" id="pages" data-parent="#navbarVerticalCollapse">

            <li class="nav-item"><a class="nav-link" href="/">Starter</a></li>
            <li class="nav-item"><a class="nav-link" href="/formmodel">formmodel</a></li>
            <li class="nav-item"><a class="nav-link" href="/form2">form2</a></li>
            <li class="nav-item"><a class="nav-link" href="/agencyFollowerss">Agency Followers</a></li>
             <li class="nav-item"><a class="nav-link" href="/followersProfile">Followers Profile</a></li>

             <li class="nav-item"><a class="nav-link" href="/hostFollowers">Followers Profile</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
