{{#if loginPage}}
{{{body}}}
{{else}}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>{{title}}</title>

  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="/public/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/assets/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="/public/assets/img/favicons/favicon.ico">
  <link rel="manifest" href="/public/assets/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="/public/assets/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">

  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <script src="/public/assets/js/config.navbar-vertical.min.js"></script>
  <link href="/public/assets/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet">
  <link href="/public/assets/css/theme.min.css" rel="stylesheet">
  <script src="/public/assets/js/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>

<body>
  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">
    <div class="container-fluid" data-layout="container">
      

      <div class="content">
        {{> topMenu}}
        {{{body}}}
        {{!-- <div class="card">
          <div class="card-body overflow-hidden p-lg-6">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6"><img class="img-fluid" src="/public/assets/img/illustrations/4.png" alt=""></div>
              <div class="col-lg-6 pl-lg-4 my-5 text-center text-lg-left">
                <h3>Edit me!</h3>
                <p class="lead">Create Something Beautiful.</p><a class="btn btn-falcon-primary"
                  href="../documentation/getting-started.html">Getting started</a>
              </div>
            </div>
          </div>
        </div> --}}
      </div>

    </div>
  </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->


  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="/public/assets/js/popper.min.js"></script>
  <script src="/public/assets/js/bootstrap.min.js"></script>
  <script src="/public/assets/lib/%40fortawesome/all.min.js"></script>
  <script src="/public/assets/lib/stickyfilljs/stickyfill.min.js"></script>
  <script src="/public/assets/lib/sticky-kit/sticky-kit.min.js"></script>
  <script src="/public/assets/lib/is_js/is.min.js"></script>
  <script src="/public/assets/lib/lodash/lodash.min.js"></script>
  <script src="/public/assets/lib/perfect-scrollbar/perfect-scrollbar.js"></script>
  <link
    href="/public/assets/fonts/fonts.googleapis.com/css0f39.css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap"
    rel="stylesheet">
  <script src="/public/assets/js/theme.min.js"></script>

</body>

</html>
{{/if}}