<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.1.1/css/dataTables.dateTime.min.css">
<link rel="stylesheet" type="text/css" href="../public/assets/css/editor.dataTables.min.css">

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

<div class="card p-4" style="width: 80%;margin:auto">
    <div class="row">
        <div class="col-6">
            <h4> Host Details<h4>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-success -end mr-1 mb-1" type="button" onclick="newForm()">Create Host</button>
        </div>
    </div>
    <hr>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Agency Code</th>
                <th>Agency Name</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id='body'>

        </tbody>
    </table>


    <!-- Modal HTML Markup -->
    <div id="ModalLoginForm" class="modal fade" tabindex="-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog  modal-notify modal-warning modal-side modal-bottom-left" role="document">
            <!--Content-->
            <div class="modal-content ">
                <div class="modal-header">
                    <p class="heading text-info" id="modalHeading">Agency Registration</p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <div class="container-fluid">
                    <div class="row  ">

                        <div class="card " id="dropSelect2">
                            <div class=" flex-grow-1  ">

                                <div class="row d-flex justify-content-center " id="formstable">
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="name"> Name </label>
                                            <input class="form-control" id="name" name="name" type="text"
                                                placeholder="Enter your name" autocomplete="off" required />
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="dreamliveid">Dream live Id</label><br>
                                            <input autocomplete="off" class="form-control" name="dreamliveid"
                                                id="dreamliveid" type="text" autocomplete="off" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center ">
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="whatsapp">whatsapp/Mob No</label><br>
                                            <input autocomplete="off" class="form-control" name="whatsapp" id="whatsapp"
                                                type="text" />
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="email">Email id</label><br>
                                            <input autocomplete="off" class="form-control" name="email" id="email"
                                                type="email" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                 <div class="col-5 form-group ">
                                    <div class="form-group">
                                        <label for="country">Country</label>
                                        <select class="form-control" name="country" id="country" onchange="loadState()">
                                            <option value="">select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="state">State</label>
                                        <select class="form-control" name="state" id="state">
                                            <option value="">select</option>
                                        </select>
                                    </div>
                                </div>                              
                               
                            </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="Address">Address</label><br>
                                            <input autocomplete="off" class="form-control" name="Address" id="address"
                                                type="text" />
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="pincode">Pin Code</label><br>
                                            <input autocomplete="off" class="form-control" name="pincode" id="pincode"
                                                type="text" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="adharid">Enter Your Adhar no</label><br>
                                            <input autocomplete="off" class="form-control" name="adharid" id="adharid"
                                                type="text" required />
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="panid">Enter Your Pan no</label><br>
                                            <input autocomplete="off" class="form-control" name="adharid" id="panid"
                                                type="text" required />
                                        </div>
                                    </div>
                                </div>

                                <label for="heading" style="margin-left: 8%;">National id type</label>
                                <div class="form-check row  ml-4 pl-5">
                                    <input autocomplete="off" class="form-check-input " type="radio" name="idType"
                                        id="flexRadioDefault1" />
                                    <label class="form-check-label" for="flexRadioDefault1">Pan Card </label>

                                    <input autocomplete="off" class="form-check-input ml-5" type="radio" name="idType"
                                        id="flexRadioDefault2" checked />
                                    <label class="form-check-label ml-5 pl-3" for="flexRadioDefault2"> Adhaar Card
                                    </label>
                                </div> <br>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="Selfiepicture">National id Front</label><br>
                                            <input autocomplete="off" class="form-control-file" name="nationalidfront"
                                                id="nationalidfront" type="file" required />
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="nationalidback">National ID back</label>
                                            <input autocomplete="off" class="form-control-file" id="nationalidback"
                                                type="file" required>
                                        </div>
                                    </div>
                                </div><br>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="Selfiepicture">Selfie Picture</label><br>
                                            <input autocomplete="off" class="form-control-file" name="Selfie"
                                                id="selfiepic" type="file" required />
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="selfieNational">Selfie with National ID</label>
                                            <input autocomplete="off" class="form-control-file" id="selfieNational"
                                                type="file" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row ml-4">
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="agencycode">Agency code </label><br>
                                            <input autocomplete="off" class="form-control" name="agencycode"
                                                id="agencycode" type="text" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row ml-4">
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="payment">Payment Type</label>
                                            <select class="form-control" id="payment" required>
                                                <option></option>
                                                <option>Bank</option>
                                                <option>Cash</option>
                                                <option>Paypal</option>
                                                <option id="">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <label for="others">Other Payment Type</label>
                                        <input autocomplete="off" class="form-control" name="others" id="others"
                                            type="text" required />
                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button"
                                    data-dismiss="modal">Close</button>
                                <button class="btn btn-primary btn-sm" onclick="create()" type="button">Save
                                    changes</button>
                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div><!-- /.modal -->
</div>

<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/datetime/1.1.1/js/dataTables.dateTime.min.js"></script>
<script type="text/javascript" src="../public/assets/js/dataTables.editor.min.js"></script>



<script src="/public/assets/lib/select2/select2.min.js"></script>

<script>
    var dataTable;
    $(document).ready(function () {
        $.ajax({
            url: "/v1/hostRegistration",
            method: 'get',
            dataType: 'json',
            data: { type: 'create' },
            success: function (response) {
                console.log(response);
                var data = response['body']['data'];
                for (var i = 0; i < data.length; i++) {
                    console.log(data[i])
                    $('#body').append('<tr><td>' + data[i]['agencyCode'] + '</td><td>' + data[i]['agencyName'] + '</td><td>' + data[i]['name'] + '</td><td><i class="fa fa-edit" aria-hidden="true" onclick="edit(' + data[i]['id'] + ')"></i></td><td><i class="fa fa-trash" aria-hidden="true" onclick="myFunction(' + data[i]['id'] + ')"></i></td></tr>')

                }
                dataTable = $('#example').DataTable({
                });
            }
        });
    });



    function myFunction(id) {
        var tempJson = {
            id: id
        }
        $.ajax({
            url: '/v1/agencyFollowersDelete',
            method: 'post',
            data: tempJson,
            success: function () {
                $.ajax({
                    url: "/v1/agencyFollowers",
                    method: 'get',
                    dataType: 'json',
                    data: { type: 'create' },
                    success: function (response) {
                        console.log(response);
                        var data = response['body']['data'];
                        $('#body').html('')
                        if ($.fn.DataTable.isDataTable('#example')) {
                            $('#example').DataTable().clear().destroy();
                        }
                        for (var i = 0; i < data.length; i++) {
                            console.log(data[i])
                            $('#body').append('<tr><td>' + data[i]['agencyCode'] + '</td><td>' + data[i]['agencyName'] + '</td><td>' + data[i]['name'] + '</td><td><i class="fa fa-edit" aria-hidden="true" onclick="edit(' + data[i]['id'] + ')"></i></td><td><i class="fa fa-trash" aria-hidden="true" onclick="myFunction(' + data[i]['id'] + ')"></i></td></tr>')

                        }

                        // ... skipped ...

                        $('#example').DataTable({
                        });
                    }
                });
            }
        });
    }


    function edit(id) {
        var update = 'createUpdate(' + id + ',"edited")'
        $("#submitButton").attr("onclick", update);
        $("#submitButton").prop('value', 'Update');
        console.log('entered')
        alert(id)
        var tempJson = {
            id: id,
            type: 'edit'
        }
        $.ajax({
            url: '/v1/agencyFollowers',
            type: 'get',
            data: tempJson,
            data: { type: 'create' },
            success: function (response) {
                console.log(response)
                $('#ModalLoginForm').modal()
                $('#name').val(response.body.data[0].name)
                $('#dreamliveid').val(response.body.data[0].dreamliveID)
                $('#whatsapp').val(response.body.data[0].contact)
                $('#email').val(response.body.data[0].email)
                $('#nationalid').val(response.body.data[0].nationalID)
                $('#address').val(response.body.data[0].address)
                $('#country').val(response.body.data[0].country)
                $('#city').val(response.body.data[0].city)
                $('#state').val(response.body.data[0].state)
                $('#pincode').val(response.body.data[0].pincode)
                $('#pancard').val(response.body.data[0].nationalIdType)
                $('#username').val(response.body.data[0].userName)
                $('#password').val(response.body.data[0].password)
                $('#agencyname').val(response.body.data[0].agencyName)
                $('#agencycode').val(response.body.data[0].agencyCode)
            }

        })
    }

    function newForm() {
        alert('newForm')
        var update = 'createUpdate(0,"create")'
        $("#submitButton").attr("onclick", update);
        $("#submitButton").prop('value', 'Create');
        $('#ModalLoginForm').modal()

    }





    function createUpdate(id, type) {

        alert('entered into create update')
        alert(id, type)
        var formData = new FormData();
        formData.append('id', id)
        formData.append('type', type)
        formData.append('dreamliveID', $("#dreamliveid").val());
        formData.append('name', $("#name").val());
        formData.append('agencyName', $("#agencyname").val());
        formData.append('agencyCode', $("#agencycode").val());
        formData.append('email', $("#email").val());
        formData.append('contact', $("#whatsapp").val());
        formData.append('address', $("#address").val());
        formData.append('city', $("#city").val());
        formData.append('state', $("#state").val());
        formData.append('country', $("#country").val());
        formData.append('paymentType' & ('#payment'))
        formData.append('idType', $('#pancard').val());
        formData.append('nationalId', $('#nationalid').val());
        formData.append('nationalIdFront', $("#nationalidfront").prop("files")[0])
        formData.append('nationalIdBack', $("#nationalidback").prop("files")[0])
        formData.append('selfiePic', $("#selfiepic").prop("files")[0])
        formData.append('selfieNational', $("#selfieNational").prop("files")[0])
        //formData.append('agencyPic', $("#agencypicture").prop("files")[0])


        console.log(formData)

        $.ajax({
            url: "/v1/updateHost",
            type: "POST", //send it through get method
            data: formData,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (response) {
                $.ajax({
                    url: "/v1/hostRegistration",
                    method: 'get',
                    dataType: 'json',
                    data: { type: 'create' },
                    success: function (response) {
                        console.log(response);
                        var data = response['body']['data'];
                        $('#body').html('')
                        if ($.fn.DataTable.isDataTable('#example')) {
                            $('#example').DataTable().clear().destroy();
                        }
                        for (var i = 0; i < data.length; i++) {
                            console.log(data[i])
                            $('#body').append('<tr><td>' + data[i]['agencyCode'] + '</td><td>' + data[i]['agencyName'] + '</td><td>' + data[i]['name'] + '</td><td><i class="fa fa-edit" aria-hidden="true" onclick="edit(' + data[i]['id'] + ')"></i></td><td><i class="fa fa-trash" aria-hidden="true" onclick="myFunction(' + data[i]['id'] + ')"></i></td></tr>')

                        }

                        // ... skipped ...

                        $('#example').DataTable({
                        });
                    }
                });
            }

        });
    }


</script>

<script>



    var query = []
    $("#agencycode").select2({
        theme: "bootstrap4",
        placeholder: 'Agent Code',
        dropdownParent: $("#dropSelect2"),
        ajax: {
            url: "/v1/agentSearch",
            minimumInputLength: 3,
            type: "get",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    search: params.term // search term
                };
            },
            processResults: function (response) {
                query = response
                return { results: response };
            },

            cache: true
        },
    });

    for (var element of query) {
        if (element.id === $('agencycode').val()) {
            $('agencyname').val(element.agency_name)
        }
    }


   $.getJSON("../public/assets/json/countryStates.json", function(data) {
    var countryList = []
    $.each(data, function(index, value) {
        var temp = {
            id: index,
            text: value.country
        }
        countryList.push(temp)
    });

    $("#country").select2({
        theme: "bootstrap4",
        placeholder: 'Select Country',
        dropdownParent: $("#dropSelect2"),
        minimumInputLength: 3,
        data: countryList
    });
});


var country = $("#country").val();
console.log(country)

function loadState() {
    $.getJSON("../public/assets/json/countryStates.json", function(data) {
        var states = []
        var country = $("#country").val();
        console.log(country)
        $.each(data[country]['states'], function(index, value) {
            var temp = {
                id: index,
                text: value
            }
            states.push(temp)
        });

        $("#state").html('')
        $("#state").select2({
            theme: "bootstrap4",
            placeholder: 'Select State',
            dropdownParent: $("#dropSelect2"),
            data: states
        });
    });
}


</script>