<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.1.1/css/dataTables.dateTime.min.css">
<link rel="stylesheet" type="text/css" href="../public/assets/css/editor.dataTables.min.css">

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


<div class="card p-4" style="width: 80%;margin:auto">
    <div class="row">
        <div class="col-6">
            <h4> Agency Details<h4>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-success -end mr-1 mb-1" type="button" onclick="newForm()">Create Agency</button>
        </div>
    </div>
    <hr>

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Pic</th>
                <th>Agency Code</th>
                <th>Agency Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id='body'>

        </tbody>
    </table>
</div>


<!-- Modal HTML Markup -->
<div id="ModalLoginForm" class="modal fade" tabindex="-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-notify modal-warning modal-side modal-bottom-left" role="document">
        <!--Content-->
        <div class="modal-content ">
            <div class="modal-header">
                <p class="heading text-info" id="modalHeading">Agency Registration</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="container-fluid">
                <div class="row  ">

                    <div class="card " id="dropSelect2">
                        <div class=" flex-grow-1  ">

                            <div class="row d-flex justify-content-center " id="formstable">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="name"> Name </label>
                                        <input class="form-control" id="name" name="name" type="text"
                                            placeholder="Enter your name" autocomplete="off" required />
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="dreamliveid">Dream live Id</label><br>
                                        <input autocomplete="off" class="form-control" name="dreamliveid" id="dreamliveid" type="text" autocomplete="off"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center ">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="whatsapp">whatsapp/Mob No</label><br>
                                        <input autocomplete="off" class="form-control" name="whatsapp" id="whatsapp" type="text" />
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="email">Email id</label><br>
                                        <input autocomplete="off" class="form-control" name="email" id="email" type="email" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                 <div class="col-5 form-group ">
                                    <div class="form-group">
                                        <label for="country">Country</label>
                                        <select class="form-control" name="country" id="country" onchange="loadState()">
                                            <option value="">select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="state">State</label>
                                        <select class="form-control" name="state" id="state">
                                            <option value="">select</option>
                                        </select>
                                    </div>
                                </div>

                                
                               
                            </div>
                            <div class="row d-flex justify-content-center">
                                 <div class="col-5">
                                    <div class="form-group">
                                        <label for="Address">Address</label><br>
                                        <input autocomplete="off" class="form-control" name="Address" id="address" type="text" />
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="pincode">Pin Code</label><br>
                                        <input autocomplete="off" class="form-control" name="pincode" id="pincode" type="text" required />
                                    </div>
                                </div>
                              

                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="adharid">Enter Your Adhaar no</label><br>
                                        <input autocomplete="off" class="form-control" name="adharid" id="adharid" type="text"
                                            required />
                                    </div>
                                </div>
                               <div class="col-5">
                                    <div class="form-group">
                                        <label for="panid">Enter Your Pan no</label><br>
                                        <input autocomplete="off" class="form-control" name="adharid" id="panid" type="text"
                                            required />
                                    </div>
                                </div>

                            </div>

                            {{!-- <label for="heading" style="margin-left: 8%;">National id type</label>
                            <div class="row  ml-4 pl-5 form-check">
                                <div class="col-5 ">
                                    <input autocomplete="off" type="radio" id="pancard" name="pancard" class="form-check-input"
                                        value="Pancard" required>
                                    <label for="Pancard">Pancard</label>
                                </div>
                                <div class="col-5 ml-4">
                                    <input autocomplete="off" type="radio" id="pancard" name="adharcard" class="form-check-input"
                                        value="adharcard" required>
                                    <label for="adharcard">Adharcard</label>
                                </div>
                            </div><br> --}}
                            <label for="heading" style="margin-left: 8%;">National id type</label>
                            <div class="form-check row  ml-4 pl-5">
                                <input autocomplete="off" class="form-check-input " type="radio" name="idType" id="pancard" />
                                <label class="form-check-label" for="pancard">Pan Card </label>

                                <input autocomplete="off" class="form-check-input ml-5" type="radio" name="idType" id="flexRadioDefault2"
                                    checked />
                                <label class="form-check-label ml-5 pl-3" for="flexRadioDefault2"> Adhaar Card </label>
                            </div> <br>
                            <div class="row d-flex justify-content-center">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="Selfiepicture">National id Front</label><br>
                                        <input autocomplete="off" class="form-control-file" name="nationalidfront" id="nationalidfront"
                                            type="file" required />
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="nationalidback">National ID back</label>
                                        <input autocomplete="off" class="form-control-file" id="nationalidback" type="file" required>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row d-flex justify-content-center">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="Selfiepicture">Selfie Picture</label><br>
                                        <input autocomplete="off" class="form-control-file" name="Selfie" id="selfiepic" type="file"
                                            required />
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="selfieNational">Selfie with National ID</label>
                                        <input autocomplete="off" class="form-control-file" id="selfieNational" type="file" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="username">User Name</label><br>
                                        <input autocomplete="off" class="form-control" name="username" id="username" type="text"
                                            required />
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="Password">Password</label><br>
                                        <input autocomplete="off" class="form-control" name="Password" id="password" type="Password"
                                            required />
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="agencyname">Agency Name</label><br>
                                        <input autocomplete="off" class="form-control" name="agencyname" id="agencyname" type="text"
                                            required />
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="agencycode">Agency code </label><br>
                                        <input autocomplete="off" class="form-control" name="agencycode" id="agencycode" type="text"
                                            required />
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-4">
                                 <div class="col-5">
                                    <div class="form-group">
                                        <label for="agencyPic">Agency Pic</label>
                                        <input autocomplete="off" class="form-control-file" id="agencyPic" type="file" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button"
                                    data-dismiss="modal">Close</button>
                                <button class="btn btn-primary btn-sm"  id='submitButton' onclick="create()" type="button">Save changes</button>
                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </div>- /
    </div><!-- /.modal -->
</div>








<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/datetime/1.1.1/js/dataTables.dateTime.min.js"></script>
<script type="text/javascript" src="../public/assets/js/dataTables.editor.min.js"></script>



<script src="/public/assets/lib/select2/select2.min.js"></script>

<script type="text/javascript" charset="utf8"
    src="../public/assets/js/agencyReg.js"></script>
    <script src = "../public/assets/js/showModal.js" > < /script>
   