

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    
    
        {{!-- <div class="container-fluid">
            <div class="row  flex-center ">
                <div class="col-lg-10 py-3 ">
                    <div class="card " id="dropSelect2">
                        <div class="p-4 p-md-5 flex-grow-1  ">
                            <h3 style="margin-left: 8%;"> Agent Host</h3>
                            
                            <div class="row d-flex justify-content-center ">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="username"> Real Name </label>
                                        <input class="form-control" id="username" name="username" type="text" placeholder="Enter your name"
                                        autocomplete="off" required />
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">                                        
                                            <label for="dreamliveid" >Dream live Id</label><br>
                                            <input class="form-control"  name="dreamliveid" id="dreamliveid" type="text" required >                                                                              
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-5">
                                    <div class="form-group">                                        
                                            <label for="whatsapp" id="whatsapp">whatsapp/Mob No</label><br>
                                            <input class="form-control" name="whatsapp" id="whatsapp" type="text" />                                                                              
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">                                        
                                            <label for="email" >Email id</label><br>
                                            <input class="form-control" name="email" id="email" type="email"  required />                                                                              
                                    </div>
                                </div>                                
                                                               
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-5">
                                    <div class="form-group">                                        
                                            <label for="agencyname" >Agency Name</label><br>
                                            <input class="form-control" name="address" id="agencyname" type="text" required />                                                                              
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">                                        
                                            <label for="agencycode">Agency Code</label><br>
                                            <input class="form-control" name="agencycode"  id="agencycode" type="text" required />                                                                              
                                    </div>
                                </div>
                                                               
                                
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-5">
                                    <div class="form-group">                                        
                                            <label for="address" >Address</label><br>
                                            <input class="form-control" name="address" id="address" type="text" required />                                                                              
                                    </div>
                                </div>                   
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="country">Country</label>
                                            <select class="form-control" name="country" id="country" onchange="loadState()">
                                                <option value="">select</option>
                                            </select>
                                    </div> 
                                </div>
                                                               
                            </div>
                            <div class="row d-flex justify-content-center">                               
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="state">State</label>
                                            <select class="form-control" name="state" id="state">
                                                <option value="">select</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">                                        
                                            <label for="pincode">Pin code</label><br>
                                            <input class="form-control" name="pincode" id="pincode" type="text" required />                                                                              
                                    </div>
                                </div>
                                
                            </div>
                            <label for="heading" style="margin-left: 8%;">National id type</label>
                            <div class="row  ml-4 pl-5">                               
                                <div class="col-5">
                                    <input type="radio" id="Pancard" name="contact" value="Pancard" required  >
                                    <label for="Pancard">Pancard</label>
                                </div>
                                <div class="col-5 ml-4">
                                    <input type="radio" id="Adharcard" name="contact" value="adharcard" required>
                                    <label for="adharcard">Adharcard</label>
                                </div>
                            </div><br>
                            <div class="row d-flex justify-content-center">
                                <div class="col-5">
                                    <div class="form-group">                                        
                                            <label for="nationalfront">National id Front</label><br>
                                            <input class="form-control-file" name="nationalfront" id="nationalfront" type="file" required />                                                                              
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="nationalback">National ID back</label>
                                        <input class="form-control-file" id="nationalback" type="file"required>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row d-flex justify-content-center">
                                <div class="col-5">
                                    <div class="form-group">                                        
                                            <label for="selfiepic" >Selfie Picture</label><br>
                                            <input class="form-control-file" name="selfiepic" id="selfiepic" type="file" required />                                                                              
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="selfieNational">Selfie with National ID</label>
                                        <input class="form-control-file" id="selfieNational" type="file"required>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row ml-5 pl-2">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="payment">Payment Type</label>
                                        <select class="form-control" id="payment" required>
                                            <option></option>
                                            <option>Bank</option>
                                            <option>Cash</option> 
                                            <option>Paypal</option>
                                            <option id="">Others</option>                                                
                                        </select>
                                    </div>
                                </div>                               
                            </div>                          
                            <div class="row ml-5 pl-3">
                                <div class="col-5">
                                    <button class="btn btn-primary" type="button" onclick="submit()">Submit</button>
                                     <button class="btn btn-danger" type="button">Clear</button>
                                </div>
                                
                            </div>
                                
                            

                        </div>
                    </div>

                </div>
            </div>
        </div> --}}
  

<script src="../public/assets/js/hostReg.js"></script>
<script src="/public/assets/lib/select2/select2.min.js"></script>


<script>

    $.getJSON( "../public/assets/json/countryStates.json", function( data ) {
    var countryList=[]
       $.each(data, function( index, value ) { 
        var temp={
            id:index,
            text:value.country
        }
        countryList.push(temp)
    });

    $("#country").select2({
    theme: "bootstrap4",
    placeholder: 'Select Country',
    dropdownParent: $("#dropSelect2"),
    data:countryList
    });
    });


    var country = $("#country").val();
    console.log(country)

    function loadState(){
    $.getJSON( "../public/assets/json/countryStates.json", function( data ) {
    var states =[]
    var country = $("#country").val();
    console.log(country)
       $.each(data[country]['states'], function( index, value ) { 
             var temp={
            id:value,
            text:value
        }
        states.push(temp)
    });

    $("#state").html('')
     $("#state").select2({
    theme: "bootstrap4",
    placeholder: 'Select State',
    dropdownParent: $("#dropSelect2"),
    data: states
    });
    });
  }

   
</script>




