<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

   

 <script src="../public/assets/js/agencyReg.js"></script>
 <script src="/public/assets/lib/select2/select2.min.js"></script>

   <script>

    
    $.getJSON( "../public/assets/json/countryStates.json", function( data ) {
    var countryList=[]
       $.each(data, function( index, value ) { 
        var temp={
            id:index,
            text:value.country
        }
        countryList.push(temp)
    });

    $("#country").select2({
    theme: "bootstrap4",
    placeholder: 'Select Country',
    dropdownParent: $("#dropSelect2"),
    data:countryList
    });
    });


    var country = $("#country").val();
    console.log(country)

    function loadState(){
    $.getJSON( "../public/assets/json/countryStates.json", function( data ) {
    var states =[]
    var country = $("#country").val();
    console.log(country)
       $.each(data[country]['states'], function( index, value ) { 
             var temp={
            id:value,
            text:value
        }
        states.push(temp)
    });

    $("#state").html('')
     $("#state").select2({
    theme: "bootstrap4",
    placeholder: 'Select State',
    dropdownParent: $("#dropSelect2"),
    data: states
    });
    });
  }



   


   </script>


