<!DOCTYPE html>
<html lang="en-US" dir="ltr">


<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Model login</title>
   
</head>

<body>
    
    <main class="main" id="top">
        <div class="container-fluid">
            <div class="row  flex-center ">
                <div class="col-lg-5 py-3">
                    <div class="card">
                        <div class="p-4 p-md-5 flex-grow-1">
                            <h3>Account Login</h3>
                            {{#if loginError}}{{loginError}}{{/if}}
                            <form action='/v1/login' method='POST' role="form" enctype="application/x-www-form-urlencoded">
                                <div class="form-group"><label for="username">User Name</label><input
                                        class="form-control" id="username" name="username" type="text"
                                        autocomplete="off" />
                                </div>
                                <div class="form-group">
                                    <div class="d-flex justify-content-between">
                                        <label for="password" id="password">Password</label>
                                    </div>
                                    <input class="form-control" name="password" id="password" type="password" />
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="form-check-input" id="defaultcheckbox1" type="checkbox">
                                    <label class="form-check-label" for="defaultcheckbox1">Remember me</label>
                                    <a class="forgot fs--1" href="" style="margin-left: 50%;">Forgot password</a>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block mt-3" type="submit" name="submit">Login</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
    </main>


    
</body>




</html>