




 <div class="col-6 d-flex justify-content-end">
             <button class="btn btn-success -end mr-1 mb-1" type="button" onclick="newForm()">Create Agency</button>
        </div>
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About '+data['agencyName']+'</h4>
                    </div>
                <div class="modal-body">
                  <div class="card text-white bg-dark">
                    <center>
                    <img src="'+data['agencyPic']+"name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3>'+data['agencyName']+' <small>'+data['country']+'</small></h3>  
                    </center>
                    </div>
                    <div class="card text-black bg-light">
                        <h5> Agency Code :</h5><h6>'data['agencyCode']'</h6>
                    <h5> Email :</h5><h6>'+data['email']+'</h6>
                    <h5> Contact :</h5><h6>'+data['contact']+</h6>
                    <h5> Address :</h5><h6>'+data['address']+'<br>'+data['city']+data['state']'+data['country']+data['pincode']'</h6>  
                    </div>                   
                    
                </div>
                <div class="modal-footer">
                   <button class="btn btn-danger" onclick="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
      function newForm() {
           alert('newForm')
           
           $('#myModal').modal()

        }
    </script>